<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheet/styles2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="graph">
        <img src="/assets/credit.png" alt="graph", height="700rem">
        <div class="info">
            <h2>Key Observations</h2>
    <ul>
        <li>Skewness: The distribution is slightly right-skewed, indicating a longer tail to the right.</li>
        <li>Modality: The distribution appears to be unimodal, with a single peak around the credit score range of 700-750.</li>
        <li>Range: The credit scores range from approximately 500 to 900.</li>
        <li>Density: The density of the distribution is highest around the peak, indicating that more individuals have credit scores within that range.</li>
    </ul>

    <h2>Implications</h2>
    <ul>
        <li>Majority in Good Credit Range: The peak around 700-750 suggests that a significant portion of the population has good credit scores.</li>
        <li>Fewer with Excellent Scores: The right-skewness indicates that fewer individuals have exceptional credit scores.</li>
        <li>Risk Assessment: Lenders can use this information to assess the creditworthiness of potential borrowers.</li>
    </ul>
        </div>
    </div>
</body>
</html>