<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheet/styles2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="graph">
        <img src="/assets/gender.png" alt="graph", height="700rem">
        <div class="info">
            <h2>Key Observations</h2>
    <ul>
        <li>Male and Female: Approximately 28% of individuals are male and 18% are female.</li>
        <li>Joint: A significant portion, 28%, are categorized as "Joint."</li>
        <li>Sex Not Available: 25% of individuals have their sex information not available.</li>
    </ul>

    <h2>Implications</h2>
    <ul>
        <li>Data Completeness: The high percentage of "Sex Not Available" suggests missing data or challenges in 
            collecting
            gender information.</li>
        <li>Gender Balance: The data indicates a relatively equal distribution between male and female genders.</li>
        <li>Joint Accounts: The "Joint" category suggests a significant portion of accounts are held by multiple individuals.</li>
    </ul>
        </div>
    </div>
</body>
</html>