<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheet/styles2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="graph">
        <img src="/assets/region.png" alt="graph", height="700rem">
        <div class="info">
            <h2>Key Observations</h2>
    <ul>
        <li>North: The North region constitutes the largest portion of the data, with 50% of the total.</li>
        <li>South: The South region is the second largest, representing 43% of the total.</li>
        <li>Central and North-East: The Central and North-East regions are relatively smaller, comprising 6% and 1% respectively.</li>
    </ul>

    <h2>Implications</h2>
    <ul>
        <li>Regional Distribution: The data indicates a significant concentration in the North, followed by the South.</li>
        <li>Data Focus: The analysis might be more relevant to regions with higher percentages.</li>
        <li>Regional Differences: Further analysis could explore potential differences between regions in terms of other variables.</li>
    </ul>
        </div>
    </div>
</body>
</html>